* {
  box-sizing: border-box;
}
html, body {
  margin: 0 auto;
  background: #FFFFFF;
}
h2{
  margin: 0;
}

/*--------------------
 |Header             |
 --------------------*/
 header{
   margin: 0 auto;
   padding: 0 30px;
   background: #F2F2F2;
   color: #1520A6;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 70px;
 }
 .menu {
	list-style:none;
  align: right;
}
.menu li {
	float:left;
  margin:5px;
	padding:5px;
}
.menu li  a{
  color: #1520A6;
  cursor: pointer;
  font-weight: bold;
}
/*--------------------
 |Footer             |
 --------------------*/
 footer{
   margin: 0 auto;
   height: 100px;
   padding: 0 30px;
   background: #F2F2F2;
   color: #000000;
   bottom: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }


 /*--------------------
  |Mapas              |
  --------------------*/
.map-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}
.map-card{
  background-color: #666666;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  width: 500px;
  flex-shrink: 0;
}
.map {
  height: 300px;
  margin: 0 auto;
}

.map-title{
  margin: 20px;
  font-size: 20px;
  text-align: center;
}

#title {
  margin-left: 8%;
}