* {
  box-sizing: border-box;
}

html, body {
  height:80%;
  margin: 0 auto;
  background: #C5CAE9;
}
.map {
  width: 90%;
  height: 400px;
  margin: 0 auto;
}
/*--------------------
 |RESPONSIVE         |
 --------------------*/
 .row::after {
  content: "";
  clear: both;
  display: table;
}
 .col-1 {width: 8.33%;}
 .col-2 {width: 16.66%;}
 .col-3 {width: 25%;}
 .col-4 {width: 33.33%;}
 .col-5 {width: 41.66%;}
 .col-6 {width: 50%;}
 .col-7 {width: 58.33%;}
 .col-8 {width: 66.66%;}
 .col-9 {width: 75%;}
 .col-10 {width: 83.33%;}
 .col-11 {width: 91.66%;}
 .col-12 {width: 100%;}
 [class*="col-"] {
  float: left;
  padding: 15px;
}
/*--------------------
 |Header             |
 --------------------*/
 header{
   margin: 0 auto;
   height: 100px;
   padding: 0 30px;
   background: #303F9F;
   color: #FFFFFF;
 }

 header .menu {
	list-style:none;
  align: right;
}

header .menu li {
	float:left;
  margin:2px;
	padding:2px;//para eliminar el comportamiento de elemento de bloque(salto de linea)
}

header .menu li  a{
  color: #FFFFFF;

}


/*--------------------
 |Footer             |
 --------------------*/
 footer{
   margin: 0 auto;
   height: 60px;
   padding: 0 30px;
   background: #303F9F;
   color: #FFFFFF;
 }
